.header {
    width: 100%;
    background: #F9FAFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 36px 10px 36px;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
  }
  
  .logo {
    width: 200px;
    height: 20px;
    margin-left: 18px;
    margin-right: 8px;
  }
  
  .nav-links {
    display: flex;
    gap: 36px;
    list-style: none;
    font-size: 1.07rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    color: #757A82;
    font-weight: 500;
    padding: 6px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
  }
  
  .nav-links li.active {
    background: #EAEBF8;
    color: #538EFE;
    font-weight: bold;
  }
  
  
  .dot {
    width: 55px;
    height: 10px;
    margin-left: 2px;
    margin-right: 18px;
  }
  